

<div class="text-center">
    <form #ref="ngForm" (ngSubmit)="Loginsend(ref.value);ref.reset()">
        <div class="jumbotron" >
            <h1>Login</h1>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <input type="radio" name="role"  value="student" ngModel>student
                </div>
                <div class="col-sm-5">
                        <input type="radio" name="role"  value="faculty" ngModel>faculty
                </div>
                <div class="col-sm-1"></div>

            </div>
            <label for="">Enter user Name</label>
            <input type="text" name="name" class="form-control" ngModel>
            <br>
            <label for="">Enter Password </label>
            <input type="password" name="password" class="form-control" ngModel>
        </div>

        <button type="submit" class="text-success">Login</button>
        
    </form>

</div>
 

<router-outlet></router-outlet>


