<div class="text-center">
    <h1 class="text-success">Faculty Registration</h1>
    <div class="jumbotron">




        <form #ref="ngForm" (ngSubmit)="facultypost(ref.value,ref.reset())">
            <div class="form-group">
                <label for="">User Name <sup class="text-danger">*</sup></label>
                <input type="text" name="name" id="" class="form-control" [(ngModel)]=name #ref1=ngModel required>
            </div>


            <div *ngIf="ref1.invalid && (ref1.dirty||ref1.touched)" class="alert alert-danger">
                <div *ngIf="ref1.invalid && ref1.touched"></div>
                <div *ngIf="ref1.errors?.required">The Name is Mandatory </div>
            </div>



            <div class="form-group"> <label for="">Email</label>
                <input type="email" name="email" id="" class="form-control" ngModel>
            </div>
            <div> 
                <label for="m" class="form-group">Mobil Number <sup class="text-danger">*</sup></label>
                <input type="text" name="mobil" id="m" class="form-control" [(ngModel)]=mobil #ref3=ngModel ngModel
                    maxlength="10">
            </div>






            <label for="">select gender</label>
            
            <div>
                <label for="">
                <input type="radio" name="gender"  value="Male" ngModel>Male <br>
                <input type="radio" name="gender" value="Female" ngModel> Femle </label>
            </div>

            <div class="form-group">
                <label for="">enter password</label>
                <input type="password" name="password" id="" class="form-control" ngModel>
            </div>

          <button type="submit" class="bg bg-success btn-lg" [disabled]=!ref.valid >Register</button>
          
      </form>
    </div>
</div>